/* :root {
  --silver: #dfdede;
  --nus-blue: #003d7c;
  --nus-orange: #ef7c00;
  --rich-black: #020612;
  --jordy-blue: #a4c3f5;
} */

MainWindow {
  background-color: #dfdede;
}

QWidget {
  color: #020612;
  /* border: 1px solid #020612; */
}

Header > QWidget {
  background-color: #003d7c;
  color: #dfdede;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
}

ControlPanel > QFrame {
  background-color: #a4c3f5;
  color: #020612;
  border-radius: 15px;
  border: 1px solid #020612;
}

ControlPanel > QFrame QWidget {
  width: 100%;
}

ControlPanel > QFrame QLabel {
  background-color: #a4c3f5;
  color: #020612;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

ControlPanel > QFrame QPushButton {
  background-color: #003d7c;
  color: #dfdede;
  font-size: 14px;
  text-align: center;
  border: 2px solid #020612;
  padding: 10px;
  border-radius: 5px;
}

ControlPanel > QFrame QPushButton:checked {
  background-color: #ef7c00;
  color: #020612;
  font-size: 14px;
  text-align: center;
  border: 2px solid #020612;
  padding: 10px;
  border-radius: 5px;
}

.flash-button {
  background-color: #ef7c00;
  color: #020612;
  font-size: 14px;
  text-align: center;
  border: 2px solid #020612;
  padding: 10px;
  border-radius: 5px;
}

QLineEdit {
  background-color: #dfdede;
  color: #020612;
  border: 1px solid #020612;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}

ControlPanel > QFrame > QWidget > #CalibrateAltitude {
  width: 240%;
}

Log > QFrame {
  background-color: #a4c3f5;
  color: #020612;
  border-radius: 15px;
  border: 1px solid #020612;
  width: 100%;
  height: 100%;
}

Log > QFrame QLabel {
  background-color: #a4c3f5;
  color: #020612;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 2;
}

Log > QFrame > TelemetryDisplay > QLabel {
  background-color: #a4c3f5;
  color: #020612;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}
